{
    "presets": [
        "@babel/preset-react" ,
        [
            "@babel/preset-env" ,
            {
                "targets": {
                    "browsers": [
                        "> 0.5%" ,
                        "last 2 versions" ,
                        "Firefox ESR" ,
                        "not dead"
                    ]
                },
                "corejs": 2,
                "useBuiltIns": "entry",
                "debug": false
            }
        ]
    ],
    "plugins": ["@babel/plugin-syntax-dynamic-import"]
}